---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
}

body {
    font-family: 'Gudea', sans-serif;
    background-image: url('https://free-images.com/lg/49fb/field_barren_house_shack.jpg');
    background-position: center top;
    background-size: cover;
    margin: 0;
}

.gudea-regular {
    font-family: "Gudea", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gudea-bold {
    font-family: "Gudea", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.gudea-regular-italic {
    font-family: "Gudea", sans-serif;
    font-weight: 400;
    font-style: italic;
}

