---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  html, body {
  min-height: 100%;
  font-weight: 300;
  line-height: 1.5;
}

.page-content .wrapper {
  background-color: rgba(180, 220, 210, 0.88);
  color: #1f3b36;

  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;

  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.site-header .wrapper {
  background-color: rgba(180, 220, 210, 0.88);
  border-radius: 10px;
  margin-top: 20px;
  padding: 12px 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.site-title {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
